.contact-card {
    background-color: white;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3),0 8px 16px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin: 20px 0;
    padding: 10px;
}
.contact-data {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 20px ;
}
.contact-additional-data {
    display: flex;
    align-items: center;
}
.contact-action-buttons {
    display: flex;
    align-items: center;
}
.contact-image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 5px;
}
.contact-name {
    font-size: 25px;
    margin-bottom: 10px;
}
.contact-number {
    margin-right: 10px;
}
.edit-button {
    margin: 10px;
}
.delete-button {
    margin: 10px;
}